#container {
    max-width: 480px;
}

h1 {
    text-align: center;
}

#areas {
    margin-bottom: 40px;
}

#areas > div {
    margin: 13px 0;
    padding: 13px;

    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;

    box-shadow: #777 5px 5px 10px;
    -moz-box-shadow: #777 5px 5px 10px;
    -webkit-box-shadow: #777 5px 5px 10px;
}

#areas > h2, #areas > p {
    margin-left: 13px;
    font-size: 11pt;
    font-style: oblique;
    font-weight: normal;
    border: 0;
}

#areas > h2 {
    margin-top: 30px;
}

#areas > p {
    margin-top: 15px;
}

.no-boxshadow #areas > div {
    border: 2px solid #777;
}

.js #areas > div {
    /* If Javascript is available, the whole project badge is clickable */
    cursor: pointer;
}

.no-js .#areas > div h3 a {
    /* Otherwise, underline the text */
    text-decoration: underline;
}

#areas > div h3 {
    border: 0;
}

#areas > div h3 a {
    color: #333;
    text-decoration: none;
    border: 0;
}

#blog { background-color: #ddf; }
#about { background-color: #dfd; }
#jansson { background-color: #fdd; }
#sala { background-color: #fea; }
#stango { background-color: #cff; }
