{% extends "blog/base.html" %}
{% set title = "Archive &mdash; digip.org blog" %}

{% block blogcontent %}
<section>
  <h2>Archive</h2>

  <ul>
    {% for year in archive %}
    <li>
      {{ year }}
      <ul>
        {% for month in archive[year] %}
        <li>
          {% set count = archive[year][month]|length %}
          <a href="../{{ year }}/{{ "%02d"|format(month) }}/">{{ month_names[month - 1] }}</a>
          {% if count == 1 %}(1 entry){% else %}({{ count }} entries){% endif %}
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2>Tags</h2>
  <ul>
    {% for tag in tags %}
    <li><a href="{{ tag.url }}">{{ tag.name }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
