{% extends "base.html" %}

{% block meta %}
{{ super() }}
<link rel="alternate" href="http://feeds.feedburner.com/digiporg-blog" type="application/atom+xml" title="digip.org blog" />
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="http://yandex.st/highlightjs/5.16/styles/default.min.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://yandex.st/highlightjs/5.16/highlight.min.js"></script>
<script>
hljs.initHighlightingOnLoad();
</script>
{% endblock %}

{% block content %}
<div id="bloghead">
  digip.org blog
  <a href="http://feeds.feedburner.com/digiporg-blog" rel="alternate" type="application/atom+xml"><img id="feed-icon" src="/img/feed.png" alt=""></a>
</div>
<div id="blogmenu">
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/blog/">blog</a></li>
    <li><a href="/blog/archive/">archive</a></li>
    <li><a href="/about/">about</a></li>
  </ul>
</div>
<div class="clear">
  {% block blogcontent %}
  {% endblock %}
</div>
{% endblock content %}
