{% extends "blog/base.html" %}

{% set title = "Index &mdash; digip.org blog" %}

{% block blogcontent %}
{% for entry in entries %}
<article>
  <h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>

  <div class="head info">
    By <a href="/about/">{{ entry.author }}</a> on {{ entry.date_str }}
  </div>

  {{ entry.content }}

  {% if entry.tags %}
  <div class="tail info">
    Tags:
    {% for tag in entry.tags %}
    <a href="{{ tag.url }}">{{ tag.name }}</a>
    {% endfor %}
  </div>
  {% endif %}
</article>
{% endfor %}
{% endblock %}
