* {
    margin: 0;
    padding: 0;
}

p, ul, ol, table, blockquote {
    margin-bottom: 1em;
}

th, td {
    padding: 0 10px 3px 0;
}

th {
    text-align: left;
}

blockquote {
    margin-left: 2em;
}

li {
    margin-left: 3em;
}

dd {
    padding-left: 3em;
    padding-bottom: 1em;
}

body {
    font-family: "Verdana", sans-serif;
    font-size: 10pt;
    color: #000;
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Courier new", monospace;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
    border-bottom: 1px solid #999;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #873;
}

a:hover {
    color: #a95;
}

#container {
    position: relative;
    min-width: 700px;
}

#header {
    font-family: "Courier new", monospace;
    background: #fea;
}

#header #heading {
    float: left;
    font-size: 20pt;
    padding: 10px 25px;
    border: 0;
}

#header #heading a {
    color: #000;
}

#header h1 a {
    color: #000;
    text-decoration: none;
}

#topline {
    margin-bottom: 15px;
}

#navi {
    text-align: right;
    padding: 6px 30px 0 0;
}

#navi ul {
    display: inline;
    list-style-type: none;
}

#navi ul li {
    font-family: "Courier new", monospace;
    font-size: 12pt;
    font-weight: bold;
    display: inline;
    margin: 0;
}

#caption {
    position: absolute;
    padding-left: 50px;
    z-index: -1;
    overflow: hidden;
}

#caption h1 {
    font-family: "Georgia", serif;
    font-size: 85pt;
    font-weight: bold;
    color: #ddd;
    margin: 0;
}

#content {
    float: left;
    margin: 0px 40px;
    width: 620px;
}

#news {
    float: left;
    margin-left: 30px;
    max-width: 300px;
}

.section {
    margin-bottom: 2em;
}

.subsection {
    margin-bottom: 1.5em;
}

.info {
    font-size: 8pt;
    color: #777;
    margin-bottom: 0.5em;
}

.clear {
    clear: both;
}
