<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Petri Lehtinen">
    <title>{{ title }}</title>

    {% block meta %}
    {% endblock %}

    <link rel="stylesheet" href="/css/html5reset-1.6.css">
    <link rel="stylesheet" href="/css/base.css">

    {% block styles %}
    {% endblock %}
  </head>

  <body>
    <div id="container">
      {% block content %}
      {% endblock %}
    </div>

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/modernizr-1.5.min.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
