<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="author" content="Petri Lehtinen">

    {% block meta %}
    {% endblock %}

    <link rel="stylesheet" href="/css/html5reset-1.6.css">
    <link rel="stylesheet" href="/css/base.css">

    {% block styles %}
    {% endblock %}
  </head>

  <body>
    <div id="container">
      {% block content %}
      {% endblock %}
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>!window.jQuery && document.write('<script src="/js/jquery-1.4.2.min.js"><\/script>')</script>
    <script src="/js/modernizr-1.5.min.js"></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
