{% extends "base.html" %}
{% set title = "Welcome to digip.org" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/js/index.js"></script>
{% endblock %}

{% block content %}
<h1>Welcome to digip.org</h1>

<div id="areas">
  <div id="blog">
    <h3><a href="blog/">Blog</a></h2>
    Mostly news and information on my projects.
  </div>

  <div id="about">
    <h3><a href="about/">About</a></h2>
    Read more about me and this site.
  </div>

  <h2>Selected projects:</h2>

  <div id="jansson">
    <h3><a href="jansson/">Jansson</a></h2>
    C library for encoding, decoding and manipulating JSON data.
  </div>

  <div id="sala">
    <h3><a href="sala/">Sala</a></h2>
    Encrypted plaintext password store on command line.
  </div>

  <div id="stango">
    <h3><a href="stango/">Stango</a></h2>
    Static web site generator for Python programmers.
  </div>

  <p><a href="/about/#projects">All projects...</a></p>
</div>

{% endblock %}
