{% extends "base.html" %}
{% set title = "digip.org" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/js/mailaddr.js"></script>
<script src="/js/index.js"></script>
{% endblock %}

{% block content %}
<h1>Welcome to digip.org</h1>

<section id="projects">
  <h2>Projects & Reading</h2>

  <div id="blog" class="project">
    <h2><a href="blog/">Blog</a></h2>
    Mostly news and information on my projects.
  </div>

  <div id="jansson" class="project">
    <h2><a href="jansson/">Jansson</a></h2>
    C library for encoding, decoding and manipulating JSON data.
  </div>

  <div id="stango" class="project">
    <h2><a href="stango/">Stango</a></h2>
    Static web site generator for Python programmers.
  </div>

</section>

<section>
  <h2>About</h2>
  <img id="gravatar" src="http://www.gravatar.com/avatar/7eb570f10c31357bd86b16251be8e99e.jpg?s=100">
  <p>
    I am Petri Lehtinen, sometimes also known as
    &#x201c;akheron&#x201d; or &#x201c;akhern&#x201d;. To contact me,
    drop an email to <span class="ma s">my first name at this domain
    (address obfuscated to avoid spam)</span>, <tt>/msg akheron</tt>
    in IRCnet or freenode, or tweet
    to <a href="http://twitter.com/akheron">@akhern</a>.
  </p>
  <p>
    <a href="/about/">Read more...</a>
  </p>
</section>
{% endblock %}
